:root {
  --margin: 32px; 
}

* {
  margin: 0;
  padding: 0;
}

html {
  margin: 0 var(--margin);
}

body {
  margin: var(--margin) auto;
  width: 100%;
  max-width: 800px;
  font-family: Arial, sans-serif;
}

nav {
  display: flex;
  justify-content: space-between;
}

a {
  margin: 0;
  text-decoration: none;
  color: rgb(5, 120, 120);
}

a:hover {  
  text-decoration: underline;
}

h1, h2, h3, p {
  margin: var(--margin) 0;
}

article {
  padding: var(--margin);
  border-radius: var(--margin);
  border: 1px solid rgb(210, 215, 220);
}

img {
  height: var(--margin);
  display: block;
}

