* {
  margin: 32px 0;
  padding: 0;
}

html {
  margin: 0;
}

body {
  margin: 0 32px;
  font-family: Arial, sans-serif;
}

header, main, footer {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}

nav {
  display: flex;
  justify-content: space-between;
}

strong, span {
  margin: 0;
}

a {
  margin: 0;
  text-decoration: none;
  color: rgb(5, 120, 120);
}

a:hover {  
  text-decoration: underline;
}

article {
  padding: 32px;
  border-radius: 32px;
  border: 1px solid rgb(210, 215, 220);
}

img {
  margin: 0;
  height: 2rem;
  display: block;
}

